*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    font-family:'Poppins', 'Verdana', Geneva, Tahoma, sans-serif;
    

}
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}
.login-form{
    margin-top: 20vh;
}


@media screen and (max-width: 425px) {
    .login-form{
        width: 80%;
        margin-top: 30vh;
    }
}







